body {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
  border: 2px black solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  background-color: lightblue;
  margin: 5px;
  text-align: center;
}

#compteur {
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#jauge {
  border: 2px black solid;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  height: 45px;
}

#prog {
  --barre-width: 100%;

  width: calc(var(--barre-width) * 1%);
  height: 100%;
  background: green;
}

@keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

#prog.peuDeTemps {
  background: darkorange;
}

#prog.stress {
  background: red;
  animation: pulse 300ms ease-in-out infinite alternate;
}

#boutons {
  display: flex;
  justify-content: center;
}

#boutons > button {
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin: 10px;
  box-shadow: 5px 5px 5px grey;
}

.container {
  margin: 10px;
  padding: 10px;
}

#roles {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  font-size: 30px;
}

h3 {
  margin: 0;
  font-size: 30px;
}

.role {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  background-color: dodgerblue;
  margin: 5px;
  padding: 10px;
  width: 25%;
  text-align: center;
  color: white;
}

#joueurs {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
}

.joueurn {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  background-color: darkorange;
  margin: 5px;
  padding: 5px;
  width: 17%;
  text-align: center;
  font-size: 25px;
}

.photo {
  height: 75px;
  width: 75px;
  background-size: contain;
}

.retourne {
  transform: rotate3d(0, 1, 0, 360deg);
  background: rgb(163, 163, 163);
  text-decoration: line-through;
  transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.retourne > .photo {
  opacity: 0;
  transition: 1s;
}

.retourne.absent {
  background: red;
}
